#rightmaindiv{

    width: 75vw;
    height: 100vh;
    /* border: 1px solid blue; */
    padding: 0 0;
}


#welcomediv{
    position: relative;
    width: 30vw;
    height: 7vh;
    border: 1px solid black;
 
    font-family: 'Brush Script MT', cursive;
    font-size: 2.4vw;
    color:  #341d54;
    font-weight: bold;
    /* margin-top: 1%; */
}

#datetimediv{
    width: 12vw;
    height: 6vh; 
    color: white;
    /* margin-top: 10px; */
    background: linear-gradient(to bottom right ,purple, blue );
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 1.2vw;
    /* border: 1px solid blue; */
    
}

#header1{
    /* border: 1px solid green; */
    height: 10vh;
    background-color: rgb(233, 233, 233);
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
    
}




#header2{
    /* border: 1px solid green; */
    height: 10vh;
    background-color: #000000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5vw;
    text-align: center;
    vertical-align: middle;
}


#targetdiv{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border: 2px solid rgb(110, 33, 233);
  
    width: 75vw;
    height: 75vh;
    background-color: white;
    
}

#object1{
    width: 90%;
    height: 500px;
    /* border: 1px solid red; */
}

