.submenu-1 {
    display: none;
}

#menubar ul li:hover .submenu-1 {
    position: absolute;
    background-color: lawngreen;
    display: block;
    margin-left: -45px;
    margin-top: 3px;
}

#menubar ul li:hover .submenu-1 ul {
    position: absolute;
    background-color: #341d54;
    display: block;
    border: 2px solid red;
}

#menubar ul li:hover .submenu-1 ul li {
    font-size: 15px;
    width: 190px;
    padding: 10px;
    border-bottom: 1px solid green;
}

#menubar ul li:hover .submenu-1 ul li:hover {
    background-color: blueviolet;
}

#menubar ul li:hover .submenu-1 ul li :last-child {
    border-bottom: none
}

#menubar ul li:hover .submenu-1 ul li a {
    text-decoration: none;
    color: white;
}